# Imports and merging dataset

In [48]:
import numpy as np
import pandas as pd
import glob

# Read and merge all csv files in folder
path = r'C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data/'
all_files = glob.glob(path + "/*.csv")
file_list = []

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, index_col=None, header=0)
    file_list.append(df[0:1000])

df = pd.concat(file_list, axis=0, ignore_index=True)
print('Products imported:', df['URL'].count())

C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Babies-Kids-cat.113.2.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Cameras-cat.18560.2.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Gaming-cat.20718.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Health-Personal-Care-cat.2.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Hobbies-Stationery-cat.13612.2.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Home-Appliances-cat.15509.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Home-Entertainment-cat.18529.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Home-Living-cat.112.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Laptops-Computers-cat.18596.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Makeup-Fragrances-cat.15816.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Men_s-Apparel-cat.103.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Men_s-Bags-Accessories-cat.2755.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Men_s-Shoes-cat.123.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Mobiles-Gadgets-cat.24456.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Motors-cat.15769.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Pet-Care-cat.21292.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Sports-Travel-cat.1029.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Women's-Accessories-cat.106.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Women's-Apparel-cat.102.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Women's-Bags-cat.1713.csv
C:/Users/User/Desktop/Eskwelabs/Capstone Project/Raw Data\Women_s-Shoes-cat.531.2.csv
Products imported: 21000

In [49]:
display(df.head(3))

,URL,Page,Preferred,Mall,Product Name,Main Category,Sub Category 1,Sub Category 2,Sub Category 3,Sub Category 4,...,Lowest Price Guarantee,Whole Sale,Five Star,Four Star,Three Star,Two Star,One Star,With Comments,With Media,Description
0,https://shopee.ph/Kids-Everyday-Leggings-Sizes...,0.0,True,False,Kids Everyday Leggings Sizes for Infant-10 Yea...,Babies & Kids,Girls' Fashion,Bottom,NaN,NaN,...,True,True,5 Star (4.4K),4 Star (103),3 Star (42),2 Star (8),1 Star (9),With Comments (1.3K),With Media (853),NaN
1,https://shopee.ph/CUTE-PAJAMA-TERNO-SLEEPWEAR-...,0.0,False,False,CUTE PAJAMA TERNO SLEEPWEAR 1-2 yrs old wholes...,Babies & Kids,Babies' Fashion,Set,NaN,NaN,...,True,True,5 Star (7.2K),4 Star (188),3 Star (73),2 Star (23),1 Star (20),With Comments (3.1K),With Media (2K),NaN
2,https://shopee.ph/TERNO-PAJAMA-FOR-KIDS-1-T0-1...,0.0,False,False,TERNO PAJAMA FOR KIDS 1 T0 10Y.O,Babies & Kids,Girls' Fashion,Pajama,NaN,NaN,...,True,True,5 Star (5.1K),4 Star (349),3 Star (193),2 Star (59),1 Star (105),With Comments (1.8K),With Media (913),NaN

# Data Cleaning
## 1. Remove duplicates and null values

In [50]:
# Remove duplicates
duplicate_rows_df = df[df.duplicated()]
df = df.drop_duplicates()
print("Number of duplicate rows: ", duplicate_rows_df.shape)
print("Number of rows after removing duplicates: ", df['URL'].count(), '\n')

# Drop NULL values
df = df.drop(columns=['Sub Category 3', 'Sub Category 4'])
df = df.dropna(subset=['Product Name'], axis='rows')
print("Number of rows after removing NULLs: ", df['URL'].count(), '\n')
df.info()

Number of duplicate rows:  (5, 44)
Number of rows after removing duplicates:  20995

Number of rows after removing NULLs:  20918

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20918 entries, 0 to 20999
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   URL                     20918 non-null  object
 1   Page                    20918 non-null  float64
 2   Preferred               20918 non-null  bool
 3   Mall                    20918 non-null  bool
 4   Product Name            20918 non-null  object
 5   Main Category           20918 non-null  object
 6   Sub Category 1          20645 non-null  object
 7   Sub Category 2          18235 non-null  object
 8   Current Rating          20918 non-null  float64
 9   Total Rating            20918 non-null  object
 10  Total Sold              20918 non-null  object
 11  Favorite                20860 non-null  object
 12  Discount Range          20918 non-null  object
 13  Price Range             20918 non-null  object
 14  Discount Percentage     20918 non-null  object
 15  Free Shipping           20918 non-null  bool
 16  Free Shipping Info      9836 non-null   object
 17  Shipping Location       20851 non-null  object
 18  Shipping Price Range    20916 non-null  object
 19  Brand Name              19257 non-null  object
 20  Store Name              19576 non-null  object
 21  Store Ratings           20862 non-null  object
 22  Store Products Count    20862 non-null  object
 23  Store Response Rate     20862 non-null  object
 24  Store Response Time     19576 non-null  object
 25  Store Joined            19576 non-null  object
 26  Store Followers         19576 non-null  object
 27  Shipping From           19568 non-null  object
 28  Vouchers Available      20918 non-null  bool
 29  Bundle Details          20918 non-null  bool
 30  Coins Available         20918 non-null  bool
 31  Product Variation List  15007 non-null  object
 32  Lowest Price Guarantee  20918 non-null  bool
 33  Whole Sale              20918 non-null  object
 34  Five Star               20918 non-null  object
 35  Four Star               20918 non-null  object
 36  Three Star              20918 non-null  object
 37  Two Star                20918 non-null  object
 38  One Star                20918 non-null  object
 39  With Comments           20918 non-null  object
 40  With Media              20918 non-null  object
 41  Description             19799 non-null  object
dtypes: bool(7), float64(2), object(33)
memory usage: 5.9+ MB

## 2. Clean up columns by removing Ks, Ms, ₱s, etc

In [51]:
# Ks and Ms
df['Favorite'] = df['Favorite'].astype(str).map(lambda x: x.replace('Favorite','').replace(' ','').replace('(','').replace(')',''))
df['Favorite'] = df['Favorite'].map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Five Star'] = df['Five Star'].astype(str).map(lambda x: x.replace('5 Star','').replace(' ','').replace('(','').replace(')',''))
df['Five Star'] = df['Five Star'].map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Four Star'] = df['Four Star'].astype(str).map(lambda x: x.replace('4 Star','').replace(' ','').replace('(','').replace(')',''))
df['Four Star'] = df['Four Star'].map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Three Star'] = df['Three Star'].astype(str).map(lambda x: x.replace('3 Star','').replace(' ','').replace('(','').replace(')',''))
df['Three Star'] = df['Three Star'].map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Two Star'] = df['Two Star'].astype(str).map(lambda x: x.replace('2 Star','').replace(' ','').replace('(','').replace(')',''))
df['Two Star'] = df['Two Star'].map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['One Star'] = df['One Star'].astype(str).map(lambda x: x.replace('1 Star','').replace(' ','').replace('(','').replace(')',''))
df['One Star'] = df['One Star'].map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['With Comments'] = df['With Comments'].astype(str).map(lambda x: x.replace('With Comments','').replace(' ','').replace('(','').replace(')',''))
df['With Comments'] = df['With Comments'].map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['With Media'] = df['With Media'].astype(str).map(lambda x: x.replace('With Media','').replace(' ','').replace('(','').replace(')',''))
df['With Media'] = df['With Media'].map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Total Rating'] = df['Total Rating'].astype(str).map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Total Sold'] = df['Total Sold'].astype(str).map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Store Ratings'] = df['Store Ratings'].astype(str).map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Store Followers'] = df['Store Followers'].astype(str).map(lambda x: x.replace('K', '000').replace('M', '000000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))
df['Store Products Count'] = df['Store Products Count'].astype(str).map(lambda x: x.replace('K', '000').replace('M', '000') if x.find('.')==-1 else x.replace('K', '00').replace('M', '00000').replace('.', ''))

# Prices
df['Price Range'] = df['Price Range'].astype(str).map(lambda x: x.replace('₱','').replace(' ',''))
df['Price Range'] = df['Price Range'].map(lambda x: x.split('-')[0])
df['Discount Range'] = df['Discount Range'].astype(str).map(lambda x: x.replace('₱','').replace(' ',''))
df['Discount Range'] = df['Discount Range'].map(lambda x: x.split('-')[0])
df['Shipping Price Range'] = df['Shipping Price Range'].astype(str).map(lambda x: x.replace('₱','').replace(' ',''))
df['Shipping Price Range'] = df['Shipping Price Range'].map(lambda x: x.split('-')[len(x.split('-'))-1])

# Discounts
df['Discount Percentage'] = df['Discount Percentage'].astype(str).map(lambda x: float(x.replace('% OFF',''))/100)

# Variants
df['Product Variation List'] = df['Product Variation List'].astype(str).map(lambda x: x.lower().replace('nan',''))

# Percentage
df['Store Response Rate'] = df['Store Response Rate'].astype(str).map(lambda x: str(float(x.replace('nan','0').replace('%',''))/100) if x!='' else x.replace('','0'))

# Dates
df['Store Joined'] = df['Store Joined'].astype(str).map(lambda x: x.replace('ago','').replace(' ','') if (x!='nan' and x!='')  else x.replace('nan','0').replace('','0'))
df['Store Joined'] = df['Store Joined']\
    .map(lambda x: \
        str(int(x.replace('years', ''))*12) if x.find('years')!=-1 \
            else \
                (x.replace('months', '') if x.find('months')!=-1 \
                    else str(round(int(x.replace('days', ''))/30)) \
                ))

# df.head(3)

## 3. Make int and float conversions

In [52]:
# Make necessary int and float conversions
ints = ['Total Rating', 'Total Sold', 'Favorite', 'Discount Range', 'Price Range', 'Discount Percentage', 'Store Ratings', 'Store Products Count', 'Store Joined', 'Five Star', 'Four Star', 'Three Star', 'Two Star', 'One Star', 'With Comments', 'With Media']
floats = ['Current Rating','Store Response Rate']

df[ints] = df[ints].apply(pd.to_numeric, errors='coerce')
df[floats] = df[floats].apply(pd.to_numeric, errors='coerce')

df_cleaned = df.copy()
df_cleaned.head(3)

,URL,Page,Preferred,Mall,Product Name,Main Category,Sub Category 1,Sub Category 2,Current Rating,Total Rating,...,Lowest Price Guarantee,Whole Sale,Five Star,Four Star,Three Star,Two Star,One Star,With Comments,With Media,Description
0,https://shopee.ph/Kids-Everyday-Leggings-Sizes...,0.0,True,False,Kids Everyday Leggings Sizes for Infant-10 Yea...,Babies & Kids,Girls' Fashion,Bottom,4.9,4500,...,True,True,4400,103,42,8,9,1300,853,NaN
1,https://shopee.ph/CUTE-PAJAMA-TERNO-SLEEPWEAR-...,0.0,False,False,CUTE PAJAMA TERNO SLEEPWEAR 1-2 yrs old wholes...,Babies & Kids,Babies' Fashion,Set,4.9,7500,...,True,True,7200,188,73,23,20,3100,2000,NaN
2,https://shopee.ph/TERNO-PAJAMA-FOR-KIDS-1-T0-1...,0.0,False,False,TERNO PAJAMA FOR KIDS 1 T0 10Y.O,Babies & Kids,Girls' Fashion,Pajama,4.8,5800,...,True,True,5100,349,193,59,105,1800,913,NaN

In [53]:
df_cleaned.to_csv('cleaned_data_1000 (11.23.2020).csv')